REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USER_AGENT=india-gov-sentiment-dashboard/0.1 by your_username

GCP_PROJECT_ID=
BIGQUERY_DATASET=reddit_government_sentiment
GOOGLE_APPLICATION_CREDENTIALS=

APP_ENV=local
DEFAULT_LOOKBACK_DAYS=30
